In [4]:
import pandas as pd
import torch

In [5]:
rating_df = pd.read_pickle('df.pkl')
rating_df['userId'] = rating_df['userId'] -1 
rating_df['rating'] = rating_df['rating']/5

In [6]:
rating_df.sort_values(by=['userId'])

,index,userId,movieId,rating,timestamp,ratings_of_movieId
0,0,0,0,0.7,2005-04-02 23:53:47,22243
2378699,151,0,151,0.8,2005-04-02 23:49:46,1724
2380423,152,0,152,0.7,2005-04-02 23:31:26,8665
2389088,153,0,153,0.7,2005-04-02 23:54:20,46
2389134,154,0,154,0.6,2005-04-02 23:55:27,2521
...,...,...,...,...,...,...
9184398,20000154,138492,847,0.6,2010-01-01 20:42:35,1206
2613665,19999898,138492,178,0.6,2009-10-17 22:09:41,53769
5573875,19999928,138492,406,0.9,2009-10-17 20:29:40,44208
18306126,19999977,138492,4908,0.9,2009-10-17 21:53:01,200
9411262,20000203,138492,914,0.9,2009-11-16 16:59:18,6456

In [7]:
rating_df['movieId'].nunique()

16872

In [4]:
from sklearn.model_selection import train_test_split

In [8]:
rating_df['userId'].nunique()

138493

In [5]:
train_rating_df, test_rating_df = train_test_split(rating_df, shuffle = True, test_size = 0.001)

In [6]:
train_rating_df

,index,userId,movieId,rating,timestamp,ratings_of_movieId
4569390,1409210,9543,353,0.6,2002-07-20 19:09:32,20791
1064737,7043530,48562,34,1.0,2000-05-09 00:22:51,23090
8723426,7989335,55067,776,0.6,2009-02-13 15:59:18,3682
11020302,5361676,36803,1246,1.0,1999-12-22 16:30:18,7846
14811016,18986244,131367,2147,1.0,1999-10-19 07:47:43,5625
...,...,...,...,...,...,...
14007451,6975834,48061,1912,0.9,2010-01-17 16:42:11,7895
1598436,4148995,28247,77,0.8,1999-12-22 21:24:17,15442
12641247,16795982,116201,1555,1.0,2001-10-21 19:15:31,7718
19017645,800382,5340,6322,0.2,2009-11-13 06:15:19,91
8153983,2423938,16385,689,0.8,2005-10-10 04:40:28,11975

In [7]:
test_rating_df

,index,userId,movieId,rating,timestamp,ratings_of_movieId
9577464,2213267,15016,965,0.7,2009-02-15 04:42:47,3684
7147461,17158122,118697,590,0.1,2015-03-14 00:02:54,15977
12085349,5660850,38959,1460,0.6,2000-09-20 23:06:00,12999
5373855,12276050,84799,398,0.6,1997-04-29 06:35:52,9083
9769020,12904751,89124,1044,0.5,2008-08-04 16:38:39,32255
...,...,...,...,...,...,...
5388169,3169437,21642,400,0.8,2005-12-22 02:54:43,34392
8003704,4829776,33184,667,0.4,2002-09-25 01:01:18,745
11618573,10082478,69731,1378,1.0,2000-05-24 00:51:15,7527
1317681,4997244,34377,49,1.0,2004-10-09 02:21:01,15087
17688088,175189,1184,3912,0.7,2004-11-15 22:56:16,3843

# UMR: userid, movieid and rating array

In [8]:
umr_train = train_rating_df[['userId','movieId','rating']].values

In [9]:
umr_test =  test_rating_df[['userId','movieId','rating']].values

In [10]:
#ratings["user_rating_pairs"] = list(zip(ratings['userId'], ratings['rating']))

In [11]:
per_movieId_df = rating_df[['movieId', 'rating', 'userId']].groupby('movieId').agg(list)
per_userId_df = rating_df[['movieId', 'rating', 'userId']].groupby('userId').agg(list)

In [12]:
per_userId_df

,movieId,rating
userId,,
0,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0.7, 0.7, 0.7, 0.7, 0.7, 0.7, 0.8, 0.8, 0.8, ..."
1,"[9, 15, 16, 20, 30, 35, 43, 45, 80, 175, 176, ...","[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.4, ..."
2,"[2, 4, 7, 9, 12, 13, 15, 16, 17, 19, 20, 23, 2...","[0.8, 1.0, 1.0, 1.0, 1.0, 0.6, 1.0, 0.8, 1.0, ..."
3,"[2, 14, 16, 182, 234, 235, 364, 365, 366, 367,...","[0.2, 0.6, 0.8, 0.8, 0.6, 0.6, 0.6, 0.8, 0.6, ..."
4,"[0, 9, 12, 14, 16, 17, 22, 23, 24, 27, 28, 30,...","[0.6, 1.0, 1.0, 0.6, 1.0, 0.6, 1.0, 1.0, 1.0, ..."
...,...,...
138488,"[1, 4, 12, 17, 29, 68, 72, 96, 203, 205, 244, ...","[0.8, 0.9, 1.0, 0.8, 0.9, 0.8, 0.6, 0.9, 0.7, ..."
138489,"[2, 11, 13, 17, 56, 178, 192, 205, 259, 285, 3...","[1.0, 0.8, 0.6, 1.0, 0.8, 0.8, 0.8, 0.6, 0.8, ..."
138490,"[116, 173, 194, 227, 255, 280, 336, 345, 350, ...","[0.8, 0.5, 0.7, 0.4, 0.7, 0.1, 0.3, 0.3, 1.0, ..."
138491,"[28, 30, 31, 33, 51, 56, 98, 111, 114, 142, 16...","[0.9, 0.9, 0.7, 0.9, 0.9, 0.9, 0.9, 1.0, 1.0, ..."
138492,"[0, 8, 9, 11, 13, 14, 24, 27, 28, 29, 30, 31, ...","[0.8, 0.9, 0.9, 0.9, 0.8, 0.9, 1.0, 0.7, 1.0, ..."

In [13]:
class Recommender(torch.nn.Module):
    
    def __init__(self, n_U, n_P, k):
        super(Recommender, self).__init__()
        
        self.U = torch.nn.Parameter(torch.rand(n_U, k, requires_grad=True))
        self.P = torch.nn.Parameter(torch.rand(n_P, k, requires_grad=True))
        
    def forward(self, i_user, i_product):
        i_user = int(i_user)
        i_product = int(i_product)
        user_vector = self.U[i_user]
        product_vector = self.P[i_product]
        return user_vector @ product_vector ## inner porduct
    
    def get_loss(self,umr):
        loss_fn = torch.nn.MSELoss()
        result = 0
        for u,m,r in umr:
            r_hat = self.forward(u, m)
            r = torch.Tensor([r]).squeeze()
            result += loss_fn(r_hat, r)
        return result / len(umr)

In [14]:
n_U = train_rating_df['userId'].nunique()
n_P = train_rating_df['movieId'].nunique()
k = 7

In [15]:
model = Recommender(n_U, n_P, k)

In [16]:
model.get_loss(umr_test)

tensor(1.5483, grad_fn=<DivBackward0>)

## Explaination ALS

We initialize $P$ randomly, and assume that these are a good set of product features. Each movie $m$ is thus represented with the features $P[m]$, (or $P[m]^T$ as a column vector). We estimate the ratings that users gives this movies $m$ by the formule $\hat{R}[:, m] = U \cdot P[m]^T$. But this is exactly an OLS problem.


But for we actually have data, $R[:,m]$ , not for every user, but for some users for every movie. If we interpret this problem as a linear regression, then the best estimator for $P[m]$ would be given by $\hat{P[m]}^T = (\tilde{U}^T \tilde{U})^{-1}\tilde{U}^T R[:, m]$. The dimensions of these matrices are:
- $P[m]^T$: {n_P} x 1
- $U$: {n_U} x k
- $R[:, m]$: {ratings of movie m} x 1

In [17]:
per_userId_df = per_userId_df.reset_index()

In [18]:
per_userId_df

,userId,movieId,rating
0,0,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0.7, 0.7, 0.7, 0.7, 0.7, 0.7, 0.8, 0.8, 0.8, ..."
1,1,"[9, 15, 16, 20, 30, 35, 43, 45, 80, 175, 176, ...","[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.4, ..."
2,2,"[2, 4, 7, 9, 12, 13, 15, 16, 17, 19, 20, 23, 2...","[0.8, 1.0, 1.0, 1.0, 1.0, 0.6, 1.0, 0.8, 1.0, ..."
3,3,"[2, 14, 16, 182, 234, 235, 364, 365, 366, 367,...","[0.2, 0.6, 0.8, 0.8, 0.6, 0.6, 0.6, 0.8, 0.6, ..."
4,4,"[0, 9, 12, 14, 16, 17, 22, 23, 24, 27, 28, 30,...","[0.6, 1.0, 1.0, 0.6, 1.0, 0.6, 1.0, 1.0, 1.0, ..."
...,...,...,...
138488,138488,"[1, 4, 12, 17, 29, 68, 72, 96, 203, 205, 244, ...","[0.8, 0.9, 1.0, 0.8, 0.9, 0.8, 0.6, 0.9, 0.7, ..."
138489,138489,"[2, 11, 13, 17, 56, 178, 192, 205, 259, 285, 3...","[1.0, 0.8, 0.6, 1.0, 0.8, 0.8, 0.8, 0.6, 0.8, ..."
138490,138490,"[116, 173, 194, 227, 255, 280, 336, 345, 350, ...","[0.8, 0.5, 0.7, 0.4, 0.7, 0.1, 0.3, 0.3, 1.0, ..."
138491,138491,"[28, 30, 31, 33, 51, 56, 98, 111, 114, 142, 16...","[0.9, 0.9, 0.7, 0.9, 0.9, 0.9, 0.9, 1.0, 1.0, ..."
138492,138492,"[0, 8, 9, 11, 13, 14, 24, 27, 28, 29, 30, 31, ...","[0.8, 0.9, 0.9, 0.9, 0.8, 0.9, 1.0, 0.7, 1.0, ..."

In [19]:
per_movieId_df=per_movieId_df.reset_index()
per_movieId_df

,movieId,rating,userId
0,0,"[0.7, 0.6, 0.6, 0.6, 0.6, 0.6, 0.2, 0.7, 0.4, ...","[0, 4, 12, 28, 33, 53, 87, 90, 115, 118, 119, ..."
1,1,"[0.7, 0.6, 1.0, 0.8, 0.8, 0.6, 1.0, 0.8, 0.7, ...","[0, 26, 52, 77, 95, 103, 131, 154, 161, 165, 1..."
2,2,"[0.7, 0.8, 0.2, 1.0, 0.6, 1.0, 0.4, 0.8, 1.0, ...","[0, 2, 3, 10, 11, 12, 18, 20, 22, 23, 24, 28, ..."
3,3,"[0.7, 1.0, 1.0, 0.8, 1.0, 0.8, 0.6, 0.8, 0.9, ...","[0, 7, 12, 21, 22, 23, 24, 25, 26, 28, 31, 34,..."
4,4,"[0.7, 1.0, 0.6, 1.0, 0.8, 1.0, 1.0, 0.7, 1.0, ...","[0, 2, 14, 20, 21, 22, 23, 24, 25, 28, 31, 34,..."
...,...,...,...
16867,16867,"[1.0, 0.8, 0.8, 0.7, 0.8, 0.7, 0.8, 0.9, 0.7, ...","[80770, 87008, 87560, 91192, 98864, 105579, 10..."
16868,16868,"[0.3, 0.7, 0.6, 0.7, 0.6, 0.6, 0.9]","[83554, 84848, 88819, 100470, 125793, 129582, ..."
16869,16869,"[0.8, 0.3, 0.7, 0.9, 0.7, 0.8, 0.7]","[84848, 86528, 91192, 115605, 118204, 130766, ..."
16870,16870,"[0.8, 0.6, 0.7, 0.5, 0.8, 0.8, 0.5, 0.6, 0.4, ...","[88311, 91192, 102024, 105579, 111548, 113293,..."
16871,16871,"[0.6, 0.4, 0.2, 1.0, 0.5, 0.1, 1.0]","[106440, 112364, 114405, 123296, 130621, 13456..."

In [20]:
def update_P(model):
    for movie, ratings, users in per_movieId_df.values:
        indices = torch.LongTensor(users)
        ratings_for_indices = torch.Tensor(ratings)
        U_tilde = model.U.index_select(0, indices)
        model.P[movie] = ratings_for_indices  @ U_tilde @ ((U_tilde.T @ U_tilde).inverse())

In [21]:
n_U

138493

In [22]:
update_P(model)

In [23]:
def update_U(model):
    for user, movies, ratings in per_userId_df.values:
        indices = torch.LongTensor(movies)
        ratings_for_indices = torch.Tensor(ratings)
        P_tilde = model.P.index_select(0, indices)
        model.U[user] = ratings_for_indices  @ P_tilde @ ((P_tilde.T @ P_tilde).inverse())

In [24]:
update_U(model)

In [25]:
def ALS_iterationg(model):
    update_P(model)
    update_U(model)

In [26]:
%%time
ALS_iterationg(model)

CPU times: user 1min 25s, sys: 1.3 s, total: 1min 26s
Wall time: 15.6 s

In [27]:
model.get_loss(umr_test)

tensor(0.0261, grad_fn=<DivBackward0>)

In [1]:
import ALS

In [ ]:
ALS.main(200000, 0.1)

['movieId', 'rating', 'userId']
['userId', 'movieId', 'rating']
nU: 138493
nP: 16872
loss_0: 3.7247402667999268
ep: 0
after updating P loss: 12.291326522827148

In [1]:
import torch
from sklearn.model_selection import train_test_split
import pandas as pd

In [75]:
    rating_df = pd.read_pickle('df.pkl')
    rating_df['userId'] = rating_df['userId'] -1
    rating_df['rating'] = rating_df['rating']/ 5

    rating_df = rating_df.sort_values(by=['userId'])
    rating_df = rating_df[rating_df['userId'] < 100]

In [76]:
subset_movies = rating_df['movieId'].unique()

In [77]:
subset_movies

array([   0,  151,  152, ..., 3114, 3120, 3119])

In [78]:
rating_df

,index,userId,movieId,rating,timestamp,ratings_of_movieId
0,0,0,0,0.7,2005-04-02 23:53:47,22243
2378699,151,0,151,0.8,2005-04-02 23:49:46,1724
2380423,152,0,152,0.7,2005-04-02 23:31:26,8665
2389088,153,0,153,0.7,2005-04-02 23:54:20,46
2389134,154,0,154,0.6,2005-04-02 23:55:27,2521
...,...,...,...,...,...,...
10590180,11049,99,1186,0.6,1996-06-25 16:40:02,6022
587828,11088,99,17,0.8,1996-06-25 16:23:45,63299
535573,11087,99,16,0.6,1996-06-25 16:29:49,52244
5609049,11089,99,408,0.8,1996-06-25 16:33:06,43272
11315093,11084,99,1337,0.8,1996-07-29 14:57:42,6197

In [79]:
rating_df['movieId'].isin(subset_movies)

0           True
2378699     True
2380423     True
2389088     True
2389134     True
            ...
10590180    True
587828      True
535573      True
5609049     True
11315093    True
Name: movieId, Length: 11099, dtype: bool

In [61]:
rating_df[rating_df['movieId'].isin(remove_movieIds) == False]

Empty DataFrame
Columns: [index, userId, movieId, rating, timestamp, ratings_of_movieId]
Index: []

In [18]:
filter_movie_df=filter_movie_df[filter_movie_df == 0]

In [20]:
filter_movie_df['movieId']

0      0
162    0
73     0
120    0
157    0
      ..
28     0
23     0
130    0
62     0
110    0
Name: movieId, Length: 165, dtype: int64

In [29]:
rating_df[rating_df['movieId'].isin(filter_movie_df.) == ]['movieId']

0      0
1      0
2      0
3      0
4      0
      ..
160    0
161    0
162    0
163    0
164    0
Name: movieId, Length: 165, dtype: int64

In [ ]:
def re_index_column(df, columname):
    unique_values = list(df[columname].unique())
    
    def process_movie_id(old_id):
        return unique_values.index(old_id)
    
    df[columname] = df[columname].apply(process_movie_id)

In [80]:
Als

NameError: name 'Als' is not defined

In [ ]:
impor